.container{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* align-items: center; */
}

.item{
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    outline: 1px solid black;
}

#fourAndHalf{
    display: flex;
    justify-content:center;
    align-items: center;
}

.nav{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
   
}

.nav-section{
    background-color: blue;
}

.nav-section p{
    display: inline;
    font-size: 30px;
    margin: 20px;
    
}