body{
    margin:0;
    background-color: forestgreen;
}

#main-wrapper{
    width: 100%;
    max-width: 600px;
    height: 600px;
    background-color: palevioletred;
    margin: auto;

}

#headline-wrapper{
    height:50px;
    width:100%;
    background-color: aquamarine;
}

#headline-wrapper h1{
    text-align: center;
}

.nav-item{
    width:24%;
    height:50px;
    background-color: black;
    display: inline-block;
  
}

.nav-item p{
    color: white;
    text-align: center;
}

#nav-wrapper{    
    /* margin:auto; */
    text-align: center;
    outline: 1px white solid
}
